.apprentice {
    color: #DD0093;
}
.guru {
    color: #882D9E;
}
.master {
    color: #294DDB;
}
.enlightend {
    color: #0093DD;
}
.burned {
    color: #434343;
}
.radicals {
    color: #0093DD;
}
.kanji {
    color: #DD0093;
}
.vocab {
    color: #882D9E;
}
.goal {
    background-color: #EEE
}
