{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WaniKani Tools</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
            integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen" />
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-static-top" role="navigation">
            <nav class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">WaniKani Tools</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
{% if profile %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img class="avatar" src="https://www.gravatar.com/avatar/{{ profile.gravatar }}" />
        {{ profile.username }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">{{ profile.title }}</a></li>
        <li><a href="#">{{ profile.level }}</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">One more separated link</a></li>
    </ul>
</li>
{% endif %}
{% for label, link in navigation %}
                        <li><a href="{{ link }}">{{ label }}</a></li>
{% endfor %}
                    </ul>
                    <form class="navbar-form navbar-left" role="search" action="{% url 'index' %}" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            <input type="text" name="api_key" class="form-control" placeholder="Set API Key">
                        </div>
                        <button type="submit" class="btn btn-default">Set API Key</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% block github %}
                            <a href="https://github.com/kfdm/wanikani/issues">
                                <img src="https://img.shields.io/github/issues/kfdm/wanikani.svg" />
                            </a>
                            {% endblock %}
                        </li>
                    </ul>
                </div>
                </div>
                <!-- /.navbar-collapse -->
        </header>
        <div class="container">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="container" id="footer">
            Copyright &copy; Paul Traylor 2014-2016
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
